server {
    listen 80;
    server_name {{ grafana_domain }};

    location {{ kibana_base_path }}/ {
        proxy_pass http://127.0.0.1:{{ kibana_port }}{{ kibana_base_path }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location {{ grafana_root_path }}/ {
        proxy_pass http://127.0.0.1:{{ grafana_port }}{{ grafana_root_path }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
